# Banco e dados locais
DATA/
pib_backup.dump

# Secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Ambiente virtual
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
